name: Build and Push Docker Image

on: [pull_request]

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: mattpolzin2
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build & Push
        run: |
          docker buildx build \
          -t mattpolzin2/api-test-server:${{ github.sha }} \
            --platform linux/amd64,linux/arm64 \
            --push \
            .
